# Dépendances
node_modules/
.pnp/
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next/
out/
build/
dist/

# Environnement
.env
.env.local
.env.production
.env.test
.env.*.local
!.env.example
.venv
/venv

# Prisma
.prisma/

# Docker
docker-compose.override.yml

# Système
.DS_Store
Thumbs.db
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# test outputs
test-outputs/
res_test.txt